html {
  font-size: 62.5%;
}

.container {
}

.top-fixed-nav {
  width: 100%;
  /* background-color: #191970; */
  background-color: #222;
  color: #fff;
  z-index: 3;
}

.top-nav-title {
  /* margin: auto; */
}

.mobile-menu-icon {
  position: absolute;
  left: 1.5rem;
  top: 1.2rem;
  font-size: 2rem;
}

.banner-img {
  width: 100%;
  height: 30vh;
  /* background-image: url("images/default-hero-img.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 4.1rem;
}

.articles-container {
  top: 4.1rem;
  margin-bottom: 5.5rem;
}

.article-box {
  border-bottom: 1px solid gray;
}

.article-headline {
  color: #000;
}

.article-description {
  overflow: hidden;
  font-size: 1.5rem;
  color: rgb(114, 114, 114);
  font-weight: 500;
}

.article-published-date {
  color: rgb(104, 103, 103);
  font-size: 1.3rem;
}

.paper-icon {
  font-size: 2.5rem;
}

.footer-nav {
  bottom: 0;
  width: 100%;
  /* background-color: #141455; */
  background-color: #222;
  color: #fff;
  align-items: center;
}

.bottom-nav-icon-box p {
  font-size: 1.3rem;
}
