html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

h2 {
  color: #fff;
  width: 20rem;
}

.modal-overlay-greet {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #000;
  transition: 0.5s all ease-out;
}
.modal-greet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: fadeIn 1.5s linear forwards;
  overflow: hidden;
}

.fade-in-text {
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  display: block;
  backface-visibility: hidden;
}

.loading-text {
  color: #fff;
  font-size: 2rem;
}

.error-text {
  color: black;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

@keyframes fadeIn {
  0% {
    margin-top: -6rem;
    opacity: 0;
  }

  25% {
    margin-top: -3rem;
    opacity: 0.2;
  }

  50% {
    margin-top: -2rem;
    opacity: 0.5;
  }

  75% {
    margin-top: -1rem;
    opacity: 0.7;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
.article-section-title {
  color: rgb(104, 103, 103);
}

.mobile-menu-icon {
  left: 1.5rem;
  top: 1.2rem;
  font-size: 2.6rem;
}

.side-modal-overlay {
  top: 0;
  height: 100vh;
  width: 0;
  z-index: 3;
  background-color: #000;
  transition: 0.3s;
  overflow-x: hidden;
  margin-top: 4rem;
}

.mobile-menu-content {
  margin-top: 2.5rem;
}

.mobile-menu-content:nth-of-type(2) {
  margin-top: 4rem;
}

.mobile-menu-content p,
.mobile-menu-content a {
  color: #fff;
  font-size: 2rem;
  transition: 0.3s;
  width: 23rem;
}

.mobile-menu-content .side-nav-item {
  cursor: pointer;

  padding: 10px 0;
  background: blue;
  margin-bottom: -13px;
}

.top-fixed-nav {
  width: 100%;
  background-color: #222;
  color: #fff;
  z-index: 3;
  height: 5.5rem;
}

.top-nav-title {
  font-size: 2.5rem;
}

.banner-img {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 4.1rem;
}

.articles-container {
  overflow-x: hidden;
  top: 3rem;
  margin-bottom: 5.5rem;
}

.article-box {
  border-bottom: 1px solid gray;
}

.article-title {
  font-size: 2.2rem;
}

.article-headline {
  color: #000;
}

.article-description {
  font-size: 1.7rem;
  color: rgb(114, 114, 114);
  font-weight: 600;
}

.article-published-date {
  font-size: 1.5rem;
}

.quantum-font {
  font-size: 2.2rem;
}

.icons {
  font-size: 3rem;
}

.footer-nav {
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 0 0.5rem 0 0.5rem;
}

.bottom-nav-icon-box p {
  font-size: 1.5rem;
}

.foot-box {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 9rem;
  height: 9rem;
  background-color: black;
  margin: 12rem auto 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.on-current-page {
  color: #3498db;
}

.hidden {
  display: none;
}

.sideNav {
  width: 250px;
}

@media only screen and (orientation: landscape) {
  .banner-img {
    height: 44vh;
  }
}

@media screen and (min-width: 375px) {
  .bottom-nav-icon-box p {
    font-size: 1.7rem;
  }

  .article-title {
    font-size: 2.7rem;
  }

  .article-description {
    font-size: 2rem;
  }

  .quantum-font {
    font-size: 2.5rem;
  }

  .loading-text {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 414px) {
  .bottom-nav-icon-box p {
    font-size: 1.9rem;
  }

  .article-published-date {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .icons {
    font-size: 4rem;
  }
  .article-title {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .article-description {
    font-size: 2.5rem;
  }

  .banner-img {
    height: 40vh;
  }

  .top-nav-title {
    font-size: 3rem;
  }

  .footer-nav {
    padding: 0 2rem 0 2rem;
  }

  .loading-text {
    font-size: 3rem;
  }

  .fade-in-text {
    font-size: 7rem;
  }
}
